<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studyservice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".service.StartAndBindServiceActivity">

        </activity>

        <service
            android:name=".service.TestService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".callbackservice.SecondActivity"></activity>

        <activity android:name=".callbackservice.ThirdActivity"/>

        <service
            android:name=".callbackservice.CallbackService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote"/>

        <activity android:name=".aidlclient.AIDLClientActivity"/>

        <activity android:name=".messageservice.MessengerActivity"/>
        <service android:name=".messageservice.MessengerService"
            />

        <service
            android:name=".binderpool.BinderPoolService"
            android:process=":remote" />

        <activity
            android:name=".binderpool.BinderPoolActivity"
            android:label="BinderPoolActivity" >

        </activity>
    </application>

</manifest>